@import 'settings';

html {
    font-size: 110%;
}
body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: $color-text-gray;
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 5px;
    font-size: 20px;
    color: #111;
}
h3 {
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}
// Summary/Details styles and JS adapted from w3schools example
summary::-webkit-details-marker {
    display: none;
}
summary:before {
    content: "►";
}
details.open summary:before {
    content: "▼";
}
summary:before, summary:after {
    font-size:.8em;
    margin-right:6px;
}
.container {
    padding: 40px 40px;

    @media ($phablet-and-up) {
        padding: 45px 80px;
    }

    @media ($tablet-and-up) {
        padding: 50px 100px;
    }

    &.first {
        $shift_value: 0px;

        @media ($tablet-and-up) {
            $shift_value: 80px;
        }

        margin-top: $shift_value;
        padding-top: 0px;

        &-pad {
            margin-top: 0px;
            padding-top: $shift_value;
        }
    }

    &.last {
        padding-bottom: 75px;

        &-xl {
            padding-bottom: 125px;
        }
    }

    &.meetings {
        h3 {
            font-size: 17.5px;
        }
    }
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.9;

    &:hover {
        border-color: #e0dddd;
    }

    &-container {
        a, a:hover, a:visited {
            border:none;
            outline:none;
            text-decoration:none;
            color:inherit;
        }
    }
}
.row {
    &.no-gutter {
        margin-right: 0px;
        margin-left: 0px;
    }
}
.banner {
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 2px solid $color-bg-darkgray;
    border-radius: $border-radius-card;
}
.blog-area {
    max-width: $blog-area-max-width;
}
.card {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    border: 2px solid transparent;
    border-radius: $border-radius-card;
    background-color: white;
    margin-bottom: 60px;

    @media ($tablet-and-up) {
        margin-bottom: 0px;
    }

    p {
        padding-left: 5px;
        padding-right: 5px;
        color: #555;
    }

    i {
        font-size: 100px;
        margin-top: 18px;
    }

    &-glyph {
        font-size: 100px;
        margin-top: 18px;
    }

    &.pushup {
        padding: 0 0 15px 0;

        &:hover {
            cursor: pointer;
            top: -35px;
            border-color: $color-star-red;
        }
    }

    &.shadow {
        border-color: $color-lightgray;
        &:hover {
            box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
            //box-shadow: 5px 0px 40px $color-bg-darkgray;
        }
    }

    &.square {
        border-radius: 0px;
        img  {
            width: 100%;
            height: 100%;
        }
    }

    &-link {
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }
}
.carousel {
    &-controls {
        &-reactive {

            display: none;

            @media ($tablet-and-up) {
                margin-bottom: 30px;
                display: block;
            }
        }
    }

    &-slide {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
    
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        &.rounded {
            border-radius: $border-radius-card;
            border: 1px solid $color-lightgray;
        }
    
        &-holder {
            // these three lines allow the height of the element to be equal to 100% of the width (via padding-top) of the element
            position: relative;
            width: 100%;
            //box-sizing: border-box;
    
            &:before {
                content: "";
                display: block;
                padding-top: 100%;
    
                @media ($phablet-and-up) {
                    // and down here it causes the height of the element to be equal to 58.3333% of the height of the element (since the photo aspect ratio is 1200 x 700)
                    padding-top: 58.3333%;
                }
            }
        }
    }

    &-inner img {
        //-webkit-filter: grayscale(90%);
        //filter: grayscale(90%); /* make all photos black and white */ 
        width: 100%; /* Set width to 100% */
        margin: auto;
    }
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
.center-vertical {

    &-tablet {
        @media ($tablet-and-up) {
            display: flex;
            align-items: center;
        }
    }
}
.center-on-mobile {
    text-align: center;

    @media ($tablet-and-up) {
        text-align: left;
    }
}
.bg {
    &-1 {
        background: #2d2d30;
        color: #bdbdbd;

        h3 {
            color: #fff;
        }

        p {
            font-style: italic;
        }
    }

    &-2 {

        background-color: $color-lightoffgray;

        @media ($tablet-and-up) {
            background-color: $color-almost-white;
        }

        color: $color-bg-darkgray;

        h3 {
            color: $color-bg-darkgray;
        }

        p {
            font-style: italic;
        }
    }

    &-none {
        background: none;
    }
}
.media {
    margin-bottom: 40px;

    @media ($tablet-and-up) {
        margin-bottom: 15px;
    }
}
.details {
    &-eboard {
        margin-bottom: 60px;
    }
}
.even {
    &-table {
        width: 100%;

        td {
            width:25%;
        }
    }
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.smallish {
    font-size: 15px;
}
.smaller {
    font-size: 12px;
}
.smallest {
    font-size: 10px;
}
.space {
    &-down {

        $margin-bottom-spaceamount: 45px;
        margin-bottom: $margin-bottom-spaceamount;

        &-pc {
            margin-bottom: 0px;

            @media ($smallpc-and-up) {
                margin-bottom: $margin-bottom-spaceamount;
            }
        }

        &-tablet {
            @media ($tablet-and-up) {
                margin-bottom: $margin-bottom-spaceamount;
            }
        }

        &-mobile {
            margin-bottom: $margin-bottom-spaceamount;

            @media ($tablet-and-up) {
                margin-bottom: 0px;
            }

            &-tiny {
                margin-bottom: 15px;

                @media ($smallpc-and-up) {
                    margin-bottom: 0px;
                }
            }
        }
    }

    &-up {

        margin-top: 15px;
    }
}
.tenet {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.9;

    &-col {
        margin-bottom: $margin-bottom-infocol;

        i {
            font-size: 115px;
            margin-top: 25px;
            margin-bottom: 35px;
            color: $color-bg-darkgray;
        }
    }
}
.text {
    &-left {
        &-tablet {
            text-align: center;

            ol, ul {
                text-align: left;
            }

            @media ($tablet-and-up) {
                text-align: left;
            }
        }

        &-smallpc {
            text-align: center;

            ol, ul {
                text-align: left;
            }

            @media ($smallpc-and-up) {
                text-align: left;
            }
        }
    }

    &-right-tablet {
        text-align: center;

        ol, ul {
            text-align: left;
        }

        @media ($tablet-and-up) {
            text-align: right;

            ol, ul {
                margin-left: 40%;
                text-align: left;
            }
        }
    }
}
.topbar {
    background: $color-bg-darkgray;
    min-height: $topbar_shift !important;
    height: $topbar_shift !important;
    max-height: $topbar_shift !important;

    @media ($tablet-and-up) {
        display: none !important;
    }
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 25px;
    transition: .2s;

    &-media {
        padding-top: 20px;
        border: 1px solid $color-text-gray;
        font-size: 15px;

        span, i {
            font-size: 50px;
        }
    }

    &-square {
        width: 100%;
        height: 200px;
        padding-top: 20px;
        border: 1px solid $color-text-gray;
        font-size: 14px;

        span, i {
            font-size: 75px;
            margin-bottom: 15px;
        }

        @media ($wd-and-up) {
            height: 225px;
        }

        @media ($xl-and-up) {
            height: 300px;
            font-size: 17px;

            span, i {
                font-size: 110px;
            }
        }
    }

    &-wrapper-padded {
        padding-left: 15%;
        padding-right: 15%;

        @media ($tablet-and-up) {
            padding-left: 15px;
            padding-right: 15px;
        }

        @media ($wd-and-up) {
            padding-left: 35px;
            padding-right: 35px;
        }
    }

    &-wide {
        width: 100%;
        text-align: left;
        padding: 8px 16px;
    }
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.img {
    &-screenside {

        border: 2px solid $color-text-gray;
        border-radius: $border-radius-porthole;
        opacity: 0.9;
        width: 75%;
        
        @media ($tablet-and-up) {
            width: 90%;

            &.left {
                text-align: left;
                float: left;
                clear: both;
            }
    
            &.right {
                text-align: right;
                float: right;
                clear: both;
            }
        }
    }

    &-wide {
        width: 100%;
        border-radius: $border-radius-porthole-long;
    }
}
.logo {
    max-width: 30px;
    max-height: 30px;

    background-color: rgb(207, 207, 207) !important;
    //border: 1px solid black;
    border-radius: 100%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;

    &:active {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    //TODO detect not touchscreen @media($size-tablet) {
        &:hover {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    //}
}
.meetings {
    &-col {
        margin-bottom: $margin-bottom-infocol;
    }

    &-icon {
        border: 2px solid $color-text-gray;
        border-radius: $border-radius-porthole;
        margin-bottom: 25px;
        height: 50%;
        opacity: 0.9;
        width: 90%;

        @media ($sm-and-up) {
            width: 65%;
        }
    }
}
.mobile-only {
    @media ($phablet-and-up) {
        display: none;
    }
}
.modal-header, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;

    h4 {
        background-color: #333;
        color: #fff !important;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        text-transform: uppercase;
    }
}
.modal-header, .modal-body {
    padding: 40px 50px;
}
.nav-tabs li a {
    color: $color-text-gray;
}
.nowrap {
    white-space: nowrap;
}
.vanish-on-tablet {
    display: inline;

    @media ($tablet-and-up) {
        display: none;
    }
}
#googleMap {
    width: 100%;
    height: 400px;
    //-webkit-filter: grayscale(100%);
    //filter: grayscale(100%);
}
.margins {
    margin-right: 5%;
    margin-left: 5%;

    @media ($sm-and-up) {
        margin-right: 15%;
        margin-left: 15%;
    }

    @media ($tablet-and-up) {
        margin-right: 0px;
        margin-left: 0px;
    }
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: $color-bg-darkgray;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;

    &-main {
        text-transform: uppercase;
    }

    &-logo {
        color: #d5d5d5 !important;
        font-size: 16px;

        a {
            color: #d5d5d5 !important;
        }

        img {
            display: float;
            float: left;
            margin-top: 9px;
            margin-left: 25px;

            @media ($tablet-and-up) {
                margin-left: none;
            }
        }

        &-div {
            margin-left: 20px;
            text-transform: uppercase;
            display: float;
            float: left;
            margin-top: 9px;
        }
    }
}
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.no-decoration {
    &:hover {
        text-decoration: none;
    }
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.padding {
    $amount: 50px;
    &-right {
        &-on-smallpc {
            @media ($smallpc-and-up) {
                padding-right: $amount;
            }
        }
    }

    &-left {
        &-on-smallpc {
            @media ($smallpc-and-up) {
                padding-left: $amount;
            }
        }
    }
}
.phablet-and-up {
    display: none;

    @media ($phablet-and-up) {
        display: inline;
    }
}
.pointer {
    &:hover{
        cursor: pointer;
    }
}
.wraparound {
    word-wrap: break-word;
    white-space: normal;
}
.section {

    h3 {
        font-size: 17.5px;
    }
    
    padding: 50px 20px;

    @media ($mobile-and-up) {
        padding: 60px 40px;
    }

    @media ($phablet-and-up) {
        padding: 80px 80px;
    }

    @media ($tablet-and-up) {
        padding: 80px 100px;
    }
}
.nonsection {

    padding: 20px 20px;

    @media ($mobile-and-up) {
        padding: 20px 40px;
    }

    @media ($phablet-and-up) {
        padding: 30px 80px;
    }

    @media ($tablet-and-up) {
        padding: 40px 100px;
    }
}
.slack {
    &-logo {
        //border: 1px solid $color-bg-darkgray;
        //border-radius: $border-radius-card;
        margin-top: 0px;
        margin-bottom: 20px;
        padding-top: 0px;
        width: 80%;

        @media ($phablet-and-up) {
            width: 400px;
        }

        @media ($tablet-and-up) {
            width: 450px;
        }

        @media ($smallpc-and-up) {
            width: 500px;
        }
    }

    &-subheader {
        font-size: 18px;
        text-align: left;
        font-weight: bold;
        letter-spacing: 1px;
    }
}
.subheader {
    //font-weight: bold;
    font-family: Montserrat, sans-serif;
    margin: 10px 0 30px 0;
    letter-spacing: 5px;
    font-size: 15px;
    text-transform: uppercase;
    color: #111;
}
.upper {
    text-transform: uppercase;
}
.warning {
    border: 2px solid $color-star-red;
    border-radius: $border-radius-card;
}
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
}
.sidebar {
    // Sidebar styles and JS heavily derived from w3schools resources 
    height: 100%;
    width: 200px;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    padding-top: 50px;

    h3 {
        font-size: 12px;
    }

    &-item {
        width: 100%;
        display: block;
        padding: 8px 16px;
        text-align: left;
        border: none;
        white-space: normal;
        float: none;
        outline: 0;

        summary {
            text-transform: uppercase;
            font-family: Montserrat, sans-serif;

            &:hover {
                color: $color-star-red;
            }
        }

        &.close-button {
            text-align: center;
            font-size: 22px;
        }

        &.first {
            text-align: center;
            font-weight: normal;
            margin-top: 10px;

            @media ($tablet-and-up) {
                text-align: left;
            }
            font-family: Montserrat, sans-serif;
            text-transform: uppercase;
            letter-spacing: 4px;
        }

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }

        &:active {
            text-decoration: none;
        }
    }
    
    &-toggler {
        background-color: $color-lightoffgray;

        @media ($tablet-and-up) {
            background-color: $color-almost-white;
        }
        width: 6%;
        min-width: 10px;
        max-width: 25px;
        height: 100px;
        border-right: 2px solid $color-star-red;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        position: fixed;
        top: 30vh;

        &:hover {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
            cursor: pointer;
        }

        p {
            margin-top: 39px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            padding: 0px 0px 0px 0px;
            font-size: 12px;

            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
}
.dropdown-menu {
    
    li { 
        a {
            color: rgb(143, 143, 143) !important;

            &:hover {
                background-color: $color-star-red !important;
            }
        }
    }
}
footer {
    background-color: $color-bg-darkgray;
    color: #f5f5f5;
    padding: 32px;

    p {
        font-size: 13px;
    }
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: $color-text-gray;
    text-decoration: none;
}  
.form-control {
    border-radius: 0;
}
textarea {
    resize: none;
}
@media (min-width:993px) {
    .w3-modal-content {
        width: 900px
    }
    .w3-hide-large {
        display: none !important
    }
    .w3-sidebar.w3-collapse {
        display:
        block!important
    }
}
@media (max-width:992px) {
    .w3-sidebar.w3-collapse {
        display: none
    }.w3-main {
        margin-left: 0 !important;
        margin-right: 0 !important
    }.w3-auto {
        max-width:100%
    }
}

// w3 Schools w3.CSS animations
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}

.transition-border {
    -webkit-transition-property: border; /* Safari */
    transition-property: border;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.transition-shadow {
    -webkit-transition-property: box-shadow; /* Safari */
    transition-property: box-shadow;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.transition-shadow-and-border {
    -webkit-transition-property: box-shadow; /* Safari */
    transition-property: box-shadow;
    -webkit-transition-property: border; /* Safari */
    transition-property: border;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.transition-width {
    -webkit-transition-property: width; /* Safari */
    transition-property: width;
    -webkit-transition-property: margin; /* Safari */
    transition-property: margin;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}