RewriteEngine on
RewriteRule ^alumni$ __alumni-page-matter.htm [L]
RewriteRule ^index$ __index-page-matter.htm [L]
RewriteRule ^media$ __media-page-matter.htm [L]
RewriteRule ^members$ __members-page-matter.htm [L]
RewriteRule ^partners$ __partners-page-matter.htm [L]
RewriteRule ^slack$ __slack-page-matter.htm [L]
RewriteRule ^spotlight$ __spotlight-page-matter.htm [L]